@{
  ViewData["Title"] = "Submit";
}

<h2>Post new story</h2>

<form action="/action_page.php" id="usrform">
  Name: <input type="text" name="usrname">
  <input type="submit">
</form>
<br>
<textarea rows="4" cols="50" name="comment" form="usrform"></textarea>