@{
  ViewData["Title"] = "Reset your password";
}

<h2>@ViewData["Title"]</h2>

<div>
  <label>Username: </label>
  <input type="text"/>
</div>

<br />
<input type="submit" value="Send reset email" />