@model LoginViewModel

@{
  ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Account" asp-action="Login">

  <div>
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
  </div>

  <div>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
  </div>

  <br />
  <input type="submit" value="Login" />
</form>        

<div>
    <br />
    <a asp-area="" asp-controller="Login" asp-action="ForgotPassword">Forgot your password?</a>
</div>

<div>
    <br />
    <a asp-area="" asp-controller="Login" asp-action="SignUp">Create Account</a>
</div>